@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway:wght@100;400;700&display=swap');

@import "_variables";

body {
  background: #E6E7EB;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans';
}

.editor {
  width: 100%;
  max-width: 736px;
  &__header {
    font-size: 44px;
    margin: 0 0 40px;
  }
}

.form {
  &__textarea {
    width: 100%;
    font-size: 14px;
    min-height: 240px;
    padding: 16px;
    border: 1px solid #A1A4B1;
    border-radius: 4px;
  }
}